:root {
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --ocean: #404BBF;
    --white: #FFF;
    --slate: #434455;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;
    --lightslate: #8E8F99;
    --navyblue-modal: rgba(46, 47, 66, 0.40);
    --dairy:#FCFCFC;
    --green : #31D0AA;
    --md-white: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.address {
    font-style: normal;
    margin-left: auto;
    display: none;
}


.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-logo {
    color: var(--iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;/* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 120px;
}

.header-logo-simple {
    color: var(--navyblue);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;/* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-navigation {
    display: flex;
    align-items: center;
    
}

.header-menu-list {
    display: none;
    gap: 40px;
}

.header-contacts-list {
    display: flex;
    gap: 40px;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: var(--ocean);
}

.header-menu-link {
    color: var(--navyblue);   
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: var(--ocean);
}


.current::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--ocean);
    border-radius: 2px;
}

.header-contacts-link {
    color: var(--slate);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;/* 150% */
    letter-spacing: 0.04em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--ocean);
}



.menu-open-btn {
    margin-left: auto;
    background-color: transparent;
    border: none;
    display: block;
    cursor: pointer;
    padding: 24px 0;
}

.menu-open-icon {
    stroke: var(--navyblue);
}


.mob-menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: var(--white);
    padding: 24px 24px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-close {
    display: block;
    margin-left: auto;
    border-radius: 50%;
    margin-bottom: 32px;
    width: 24px;
    height: 24px;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
}

.mob-menu-navigation {}

.mob-menu-list {}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mob-nubmer-link {
    color: var(--iris, #4D5AE5);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;/* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    display: block;
    margin-bottom: 40px;
}

.mob-mail-link {
    color: var(--slate);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;/* 120% */
    letter-spacing: 0.02em;
    display: block;
    margin-bottom: 48px ;
}

.mob-social-list {
    display: flex;
    gap: 30px;
}

.mob-social-item {
    width: 40px;
    height: 40px;
}

.mob-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-item-icon {
    fill: var(--cloud);
}

.current-mob {
    color: var(--ocean);
}


.mob-close-icon {
    fill: var(--navyblue);
}

/*HERO*/

.hero {
    background-color: var(--navyblue);
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero-img-tel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 1440px;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
    .hero {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-img-tel-2x.jpg);
    }
 }

.hero-title {
    color: var(--white);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 320px;
    margin-bottom: 48px;
    margin: 0 auto 48px;
}

.hero-order-btn {
    background-color: var(--iris);
    color: var(--white);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    border: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-order-btn:hover, .hero-order-btn:focus { 
    background-color: var(--ocean);
}

/*ADVANTEGES*/

.advanteges {
    padding-top: 96px;
    padding-bottom: 96px;
}

.advanteges-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.advanteges-list-item {
    
}

.advanteges-item-top {
    border-radius: 4px;
    background-color: var(--cloud);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    display: none;
}

.advanteges-item-subtitle {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advanteges-item-description {
    color: var(--slate);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.02em;
}

/*WORKS*/

.works {
    padding-bottom: 120px;
    display: none;
}

.works-list {
    display: flex;
    gap: 24px;
    margin: 0 auto;
}

.works-list-item {
    width: calc((100% - 3 * 16px) / 3);
}

.works-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;/* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/*TEAM*/

.team {
    background-color: var(--cloud);
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    color: var(--navyblue);
    text-align: center;   
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;/* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
    align-items: center;
}

.team-list-item {
    background: var(--white);
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    text-align: center;
}

.team-item-details {
    padding: 32px 0;
    max-width: 264px;
}


.team-item-name {
    color: var(--navyblue);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;/* 120% */
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-item-occupation {
    color: var(--slate);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}


.team-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover ,
.team-social-link:focus {
    background-color: var(--ocean);
}

.team-list-social {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.team-item-social {
    width: calc((100% - (3 * 24px + 32px)) / 4);
    height: 40px;
}

.team-item-icon {
    fill: var(--cloud);
}

/*CUSTOMERS*/

.customers {
    padding: 120px 0;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
    justify-content: center;
    align-items: center;
}

.customers-title {
    margin-bottom: 72px;
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;/* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.customer-logo-link {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--lightslate);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lightslate);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-logo-link:focus ,
.customer-logo-link:hover {
    border-color: var(--ocean);
    color: var(--ocean); 
}

.customers-list-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customer-item-icon {
    fill: currentColor;
}

/*PORTFOLIO*/

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-work-item {
    border: 1px solid var(--cornflower);
    background: var(--white);
}

.portfolio-item-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover ,
.portfolio-item-link:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item-link:hover .portfolio-overlay-text ,
.portfolio-item-link:focus .portfolio-overlay-text {
    transform: translateY(0%);
}

.portfolio-options-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}

.portfolio-works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-works-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-options-btn {
    border: 1px solid var(--cornflower);
    background: var(--cloud);
    color: var(--iris);
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-options-btn:hover ,
.portfolio-options-btn:focus {
    color: var(--white);
    border-color: var(--ocean);
    background-color: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-works-details {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-work-name {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;/* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-work-description {
    color: var(--slate);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}

.portfolio-overlay-text {
    color: var(--cloud);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    background-color: var(--iris);
    padding: 40px 32px;
}

.portfolio-works-overlay {
    position: relative;
    overflow: hidden;
}

/*FOOTER*/

.footer {
    background: var(--navyblue);
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 72px;
}

.footer-text {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-info {
    /* margin-right: 120px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    color: var(--iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;/* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-simple {
    color: var(--cloud);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;/* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-description {
    color: var(--cloud);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover  {
    background-color: var(--green);
}

.footer-social-link:focus {
    background-color: var(--green);
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-item-icon {
    fill: var(--cloud);
}

.footer-sub {
    /* margin-left: 80px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.footer-input {
    width: 264px;
    height: 40px;
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid var(--white);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding: 8px 16px;
    background-color: transparent;
    color: var(--white);
    display: flex;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
    border-color: var(--iris);
}

.footer-input::placeholder {
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
    line-height: 2.0;/* 200% */
    letter-spacing: 0.04em;
}

.footer-submit {
    min-width: 165px;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    background: var(--iris);
    display: flex;
    align-items: center;
    color: var(--white);
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.04em;
    cursor: pointer;
}

.footer-submit:hover,
.footer-submit:focus {
    background-color: var(--ocean);
}


.footer-btn-icon {
    fill: var(--white);
    margin-left: 16px;
}

.footer-input::placeholder { 
    color: var(--white);
}
/* BACKDROP */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: var(--navyblue-modal);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    min-height: 584px;  
    border-radius: 4px;
    background-color: var(--dairy);
    padding: 72px 24px 24px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon {
    fill: var(--md-white);
}

.modal-close-btn:focus .modal-close-icon {
    fill: var(--md-white);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--ocean);
    border: 1px;
}

.modal-close-icon {
    fill: var(--navyblue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    color: var(--navyblue);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;    /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    padding-left: 38px;
    padding-right: 24px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus  {
    border-color: var(--iris);
}

.modal-input:focus + .modal-icon {
    fill: var(--iris);
}

.modal-form-lable {
    color: var(--lightslate, #8E8F99);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    display: block;
}

.modal-icon {
    fill: var(--navyblue);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal-input-wrap {
    position: relative;
    
}

.modal-field {
    margin-bottom: 8px;
}

.modal-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--navyblue-modal);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    display: block;
}

.modal-comment-field {
    margin-bottom: 16px;
}

.modal-comment::placeholder {
    color: var(--navyblue-modal);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;/* 116.667% */
    letter-spacing: 0.04em;
} 

.modal-comment:focus {
    border-color: var(--iris);
}


.modal-submit-btn {
    border-radius: 4px;
    min-width: 169px;
    border: none;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
    background-color: var(--ocean);
}

.modal-checkbox {
    margin-bottom: 24px;
}


.modal-check-text {
    color: var(--lightslate);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;/* 116.667% */
    letter-spacing: 0.04em;
    align-items: center;
}


.modal-check-link {
    color: var(--iris);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
}

.modal-custom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid var(--navyblue-modal);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text .modal-custom-checkbox {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
} 


@media screen and (min-width: 428px) {
    .container {
        max-width: 426px;
    }

    .mob-social-list {
        gap: 56px;
    }

    .modal {
        width: 408px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }

    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-img-tab.jpg);
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

    .advanteges-list-item {
        width: calc((100% - 24px) / 2);
    }

    .advanteges-list {
        gap: 72px 24px;
    }

    .team-list {
        gap: 64px 24px;
    }

    .customers-list-item {
        width: 168px;
    }

    .customers-list {
        gap: 72px 24px;
    }

    .footer-container {
        gap: 72px 24px;
        justify-content: flex-start;
        padding-left: 108px;
    }

    .footer-info {
        display: block;
    }

    .footer-social {
        display: block;
    }

    .footer-sub {
        display: block;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-img-tab-2x.jpg);
            }
    }

    .header-menu-list {
        display: flex;
    }

    .menu-open-btn {
        display: none;
    }

    .address {
        display: flex;
    }

    .header-contacts-list {
        display: block;
    }

    .header {
    }

    .header-contacts-item:not(:last-child) {
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-img.jpg);
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .advanteges-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .advanteges-list-item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .advanteges-item-top {
        display: flex;
    }

    .advanteges-item-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .advanteges-item-description {
        font-weight: 400;
    }

    .works {
        display: block;
    }

    .team-list-item {
        width: calc((100% - 3 * 24px) / 4); 
    }

    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .customers-list-item {
        width: calc((100% - 120px) / 6);
    }

    .customers-list {
        gap: 24px;
    }

    .footer-sub {
        margin-left: 80px;
    }

    .footer-info {
        margin-right: 120px;
    }

    .footer-container {
        padding-left: 15px;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 0;
    }

    .footer-form {
        flex-wrap: nowrap;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-img-2x.jpg);
            }
    }

    .header-logo {
        margin-right: 76px;
    }
    
    .header-contacts-list {
        display: flex;
        
    }

    .header-contacts-item:not(:last-child) {
        margin-bottom: 0;
    }

    .header-contacts-link {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;/* 150% */
        letter-spacing: 0.02em;
    }

}